.sidebar {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    border: 1px solid var(--border-color);
    top: 25px;
    left: 25px;
    padding: 24px 30px;
    background: var(--background-accent);
    height: calc(100dvh - 100px);
    width: clamp(220px, 26vw, 360px);
    flex-wrap: nowrap;
}
.header {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}
.header h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}
.header h1 span {
    cursor: pointer;
}
.nav {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nav span {
    padding: 0 2px;
    font-family: "swear-display", serif;
    font-weight: 300;
    font-size: 6rem;
    line-height: 1;
    letter-spacing: -.1em;
    transition: letter-spacing 300ms, transform 300ms;
    position: relative;
    cursor: pointer;
}
.nav span:hover {
    /*outline: 1px solid var(--text-color);*/
    text-decoration: none;
    /*transform: skewX(-15deg) translateX(.075em);*/
    letter-spacing: 0em;
}
.nav a::after {
    content: '';
    height: 1px;
    background-color: var(--border-color);
    width: 0%;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -.15em;
    transition: width 300ms;
}
/*.nav a::before {
    !*content: '';*!
    height: 1px;
    background-color: var(--border-color);
    width: 0%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 300ms;
    margin: 0 auto;
}*/

.nav a:hover::after,
.nav a:hover::before{
   width: 100%;
}

footer {
    border-top: 1px solid var(--border-color);
    width: 100%;
    padding-top: 10px;
}

footer p {
    font-family: "swear-display", serif;
    font-weight: 600;
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
}